* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #777;
    color: rgb(41, 39, 39);
}


.site-footer {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-social {
    margin-bottom: 10px;
}

.footer-social p {
    margin-bottom: 5px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.footer-left, .footer-right {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    flex-direction: row;
}

.footer-left li, .footer-right li {
    margin: 0 5px; 
    justify-content: center;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.divider {
    border-left: 2px solid #ffffff; 
    height: 50px;
    margin: 0 10px;  
}

.footer-social {
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.site-header{
    display: flex;
    color: #ffffffff;
    justify-content: space-between;
    background-color: #e30613;
    padding: 1rem 0;
  }
  
  .logo-header {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: #e30613;
  }
  .header-nav {
    list-style: none;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .links {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    margin-right: 50px;
  
  }
  .links a {
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .vertical-line {
    height: 150px;
    width: 3px;
    background-color: #ffff;
    margin: 0 20px;
    margin-right: 20px;
  }
  

